body{
    background-color: rgb(255, 252, 225);
    margin: 0;
}
img{
    width: 300px;
}
table{
    width: 100%;
}
td{
    text-align: center;
}
li{
    list-style-type: none;
}
h1{
    color: rgb(0, 0, 0);
}
ul{
    padding: 0;
}
a{
    color: rgb(0, 4, 255);
    text-decoration: none;
    line-height: 25px;
    transition: 1s;
}
a:hover{
    color:black;
    font-weight: bold;
    font-size: 25px;
}
.nyil{
    width: 50px;
}